<!-- Services Section -->
<section class="success" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Services</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to our mobile detailing service, where we bring top-tier car care directly to your doorstep. Our services are designed to keep your vehicle looking its best, both inside and out. We use only the highest quality products and meticulous techniques to deliver exceptional results.
          </p>
          <p>Exterior Detailing:<br>
          Price: $150</p>
            
          <p>Our comprehensive exterior detailing service includes:
          </p> 
          <p>Hand wash and dry.
          Wheel and tire cleaning and protecting.
          Clay bar treatment to remove contaminants.
          Wax application for a protective shine.
          Window and mirror cleaning.
          </p>
          
            
          </p>
      </div>
      
      
      <div class="col-lg-4">
        <p>Interior Detailing:
                 </p>
      </div>
      <div class="col-lg-4">
        <p>We offer professional interior detailing services to ensure your vehicle's interior is spotless and refreshed. Prices vary based on the size of your vehicle: 

        </p>
      </div>
      <div class="col-lg-4">
        <p>Compact or Small Cars: $150
          
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          Medium and Large Cars: $200
         

        </p>
      </div>
      <div class="col-lg-4">
        <p>
          Large SUVs or XL Large Cars: $225

        </p>
      </div>
      <div class="col-lg-4">
        <p>Interior detailing includes:
          
        </p>
      </div>
      <div class="col-lg-4">
        <p>Thorough vacuuming and stain removing of seats, carpets, and floor mats.
          Cleaning and conditioning of all leather, vinyl, and carpeted surfaces.
          Deep cleaning of fabric seats and upholstery.
          Dashboard, console, and door panel cleaning.
          Window and rear veiw mirror cleaning.
          Odor elimination.
          <p>Contact us for any questions or special orders! We are happy to help you choose the perfect package for you!</p>
          
        </p>
      </div>
    </div>
  </div>
</section>
